<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.clickapps.retrofittwo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <service -->
        <!-- android:name=".service.MyService" -->
        <!-- android:exported="false" /> -->

        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- account kit -->
        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name=".social_media.SocialActivity"
            android:label="@string/title_activity_social"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".social_media.FBActivity" />
        <activity android:name=".social_media.TwitterActivity" />
        <activity android:name=".social_media.GoogleSinginActivity" />

        <!-- twitter BC receiver -->
        <receiver
            android:name=".MyResultReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_SUCCESS" />
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_FAILURE" />
                <action android:name="com.twitter.sdk.android.tweetcomposer.TWEET_COMPOSE_CANCEL" />
            </intent-filter>
        </receiver>

        <activity android:name=".design.DesignActivity" />

        <!-- GCM -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="co.clickapps.retrofittwo" /> <!-- Your Package Name -->
            </intent-filter>
        </receiver>

        <!-- receive message from gcm -->
        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false"> <!-- android:name=".YourGcmListenerService" -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- listen to token changes -->
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- get new token -->
        <service
            android:name=".gcm.GetGcmTokenService"
            android:exported="false" />

        <!--  -->


        <!-- <service -->
        <!-- android:name="gcm.play.android.samples.com.gcmquickstart.RegistrationIntentService" -->
        <!-- android:exported="false"></service> -->


        <!-- google map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".mymap.MyMapActivity"
            android:label="@string/title_activity_my_map"
            android:theme="@style/AppTheme" />
        <activity android:name=".fragment.FragmentActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="co.clickapps.retrofittwo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fiep" />
        </provider>

        <activity android:name=".service.ActivityOne" />
        <activity android:name=".service.ActivityTwo" />
        <activity
            android:name=".realm.model.RealmActivity"
            android:label="@string/title_activity_realm"
            android:theme="@style/AppTheme" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".rxjava.MvvmActivity"></activity>
    </application>

</manifest>